@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mapbox overrides */
.mapboxgl-map {
  font-family: inherit;
}

.mapboxgl-popup-content {
  @apply rounded-lg shadow-lg p-4;
}

.mapboxgl-popup-close-button {
  @apply text-lg px-2 py-1;
}

/* Custom utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
